* {
  margin: 0;
  padding: 0;
}

body{
  width: 800px;
}

.tab-bar{
  width: 790px;
  padding: 5px 5px;
  border-bottom: 1px solid #cccccc;
}

.favicon{
  vertical-align: left;
  margin: 0 5px 0 0;
}

.tab-title{
  vertical-align: middle;
  font-size: 16px;
}

.tab-url{
  vertical-align: middle;
  font-size: 15px;
}
